.homeContent {
    flex: 0.8;
    background-color: #f9f9f9;
    padding: 40px 20px;
    padding-bottom: 0;
}

.homeContent>h2 {
    margin-left: 5px;
    margin-bottom: 20px;
}

.homeContent__videos {
    display: flex;
    flex-wrap: wrap;
}

.videoCard__info {
    margin-top: 10px;
    display: flex;
    padding-right: 30px;
}

.videoCard__text {
    margin-left: 15px;
}

.videoCard__text>h4 {
    font-size: 14px;
    margin-bottom: 5px;
}

.videoCard__text>p {
    font-size: 14px;
    color: gray;
}